[submodule "binate"]
	path = binate
	url = https://github.com/mapkts/binate
	branch = master
[submodule "dotfiles"]
	path = dotfiles
	url = https://github.com/mapkts/.cfg.git
	branch = master
[submodule "goodreads"]
	path = goodreads
	url = https://github.com/mapkts/goodreads.git
	branch = master
